# ==========================================
#          OSIRIS - ROOT GITIGNORE          
# ==========================================

# SECURE & SECRETS
.env
*.env
.env.*
frontend/.env.*
*_backup.sql
*.dump
backend/backups/

# BASE DE DONNÉES
**/*.db
**/*.sqlite

# PYTHON
**/__pycache__/
**/*.pyc
**/*.pyo
**/venv/
.pytest_cache/

# NODE / FRONTEND
**/node_modules/
**/dist/
**/dist-ssr/

# BINAIRES LOURDS & APPLIANCE
**/*.iso
**/*.img
**/static/vmlinuz
**/static/initrd
**/static/wimboot
**/static/winpe/
**/static/ubuntu-*/
srv/tftp/ipxe.efi

# Environnement Python
**/venv/

# CERTIFICATS TLS (pour le jour où on ajoute HTTPS)
*.pem
*.key
*.crt
*.p12

# LOGS
*.log

# SYSTÈME & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/