fastapi
"uvicorn[standard]"
sqlmodel
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
python-multipart
slowapi
jinja2
arq
aiohttp
wakeonlan
cryptography
pyotp
qrcode[pil]
alembic
